.header {
	font-family: CircularXXTT-Black;
	padding-left: 90px;
}

.whtHdr {
	color: white;
	font-family: CircularXXTT-Black;
}

.pinkHdr {
	color: #FB2961;
	font-family: CircularXXTT-Black;
}

.seeMoreAlign {
	text-align: center;
	padding: 18px;
}
.seeMore {
	color: #FB2961 !important;
	text-decoration-color: #FB2961 !important;
	font-family: CircularXXTT-Black
}

.users {
	padding-left: 18px;
	color: #FB2961;
	font-family: CircularXXTT-Black;
}

.username {
	font-family: CircularXXTT-Medium;
	padding-left: 4px;
}

.flipToggle {
	color: #4AEFE9;
	transform: scaleX(-1);
}

.toggle {
	color: #4AEFE9;
	padding-right: 6px;
}

.live {
	background-color: #FB2961;
	border-radius: 26px;
	border: white 2px solid;
	color: white;
	text-align: center;
	width: 48px;
	font-size: 12px;
	position: relative;
	top: -13px;
	left: 1px;
}