@font-face {
  font-family: 'CircularXXTT-Black';
  src: local('CircularXXTT-Black'), url(./assets/CircularXXTT/CircularXXTT-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'CircularXXTT-Medium';
  src: local('CircularXXTT-Medium'), url(./assets/CircularXXTT/CircularXXTT-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CircularXXTT-Light';
  src: local('CircularXXTT-Light'), url(./assets/CircularXXTT/CircularXXTT-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CircularXXTT-Thin';
  src: local('CircularXXTT-Thin'), url(./assets/CircularXXTT/CircularXXTT-Thin.ttf) format('truetype');
}